
.header-profile{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    font-weight: 400;
    font-size: medium;
}

.header-profile .title-aboutme{
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.header-profile .title-portfolio{
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.header-profile .title-cooperation{
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.header-profile img{
    height: 50px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    margin-top: 5px;
}

.title-contact{
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 70%;
}

.my-story{
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    margin-top: 70px;
}

.my-story .mini-detail {
    padding-top: 20px;
}